@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased overflow-x-hidden;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-50% - 0.5rem));
  }
}

.animate-infinite-scroll {
  animation: infinite-scroll 40s linear infinite;
  display: flex;
  width: max-content;
}